<div style="font-family: Arial, sans-serif; margin: 0 auto; width: 90%;">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <h2 style="text-align: left; color: #333;">Privacy Policy <i class="bi bi-shield-shaded"></i> </h2><br/>
    <h4>Personal Information</h4>
    <p>We do not collect any personal information about the users of our apps.</p>
    <h4>Non-Personal Information</h4>
    <p>We may collect non-personal information about the users of our apps. We collect this data to improve our apps and services. This information is anonymized and does not include personally identifiable information.</p>
    <h4>Cookies</h4>
    <p>Our app does not use cookies.</p>
    <h4>Security</h4>
    <p>We follow generally accepted industry standards to protect the information submitted to us, both during transmission and once we receive it.</p>
    <h4>Changes</h4>
    <p>We reserve the right, at any time, to add to, change, update, or modify this Policy, simply by posting such change, update, or modification on the app and without any other notice to you.</p>
    <h4>Your Consent</h4>
    <p>By using our app, you consent to our privacy policy.</p>
    <h4>Contact Us</h4>
    <p>If you have any questions regarding this privacy policy, you can contact us via <a href="mailto:email@yourapp.com">email@yourapp.com</a>.</p>
</div>
